.row {
  justify-content: space-between;
  h3 {
    margin-top: auto;
    color: #ff4081;
    border-bottom: 3px solid #ff4081;
  }
  
  .button-dropdown {
    margin-top: auto;
    padding: 10px;
    
    button {
      background-color: transparent;
      color: #000;
    }
  }
}