.row {
  justify-content: space-between;
  h3 {
    a {
      color: #ff4081;
      &:hover {
        text-decoration: none;
      }
    }
    margin-top: auto;
    border-bottom: 3px solid #ff4081;
  }
  
  .button-dropdown {
    margin-top: auto;
    padding: 10px;
    
    button {
      background-color: transparent;
      color: #000;
    }
  }
}

@media(max-width: 800px) {
  .row {
    justify-content: center;
  }
}
  
.url-article {
  color: #000;
  &:hover {
    text-decoration: none;
    color: #000;
    opacity: 0.7;
  }
}
