.button-dropdown {
  background-color: transparent;
  border-color: #888;
  color: #888;
}

.url-article {
  color: #000;
  &:hover {
    text-decoration: none;
    color: #000;
    opacity: 0.7;
  }
}
